@ExtraCaption

<table class="table">
    <thead>
        <tr>
            <th scope="col">Device Id</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in DeviceLst)
        {
            <tr>
                <td scope="row">@device.DeviceId</td>
                <td scope="row">@device.Location</td>
                <td scope="row">@device.Date</td>
                <td scope="row">@device.DeviceType</td>
                <td scope="row">@device.Status</td>
                <td scope="row"><a href="@($"deviceview/{device.DeviceId}")"
                       class="btn btn-outline-primary">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
